#main {
  width:1140px;
  margin:0 auto;
}

#title  {
  font-family: Arial-BoldMT;
  font-weight:bold;
  margin-bottom: 30px;
}

#background {
  background-image: url('css/images/Bitmapbaner_1.jpg');
  width: 1140px;
  height: 500px;

  #image {
    p, h1{
      padding-left: 50px;
      font-size: 20px;
      color: #586667;
      letter-spacing: 0;
    }

    h1 {
      font-family: Arial-BoldMT;
      font-size: 64px;
    }

    p:last-child {
      width: 530px;
    }
  }

  .button {
    margin-top: 30px;
    margin-left: 50px;
    border: 2px solid #D55917;
    width: 284px;
    height: 64px;
    span, p {
      display: inline-block;
      font-family: ArialMT;
      font-size: 20px;
      color: #D55917;
      letter-spacing: 0;
    }
    span {
      z-index: 2;
      padding-left: 30px;
      padding-right: 30px;
    }
  }
}

#collection {
  h4{
    color: #586667;
    font-family: ArialMT;
    padding-left: 0;
    font-size: 36px;
    font-weight: normal;
    text-align: center;
  }
  img {
    display: block;
    margin: 0 auto;
    width: 170px;
    height: 170px;
  }
  .hidden {
    display: none;
  }
  div.product{
    border: 1px solid white;
    float: left;
    margin-left: 40px;
    padding-top: 30px;
    width: 220px;

    &:hover {
      display: block;
      border: 1px solid #CFCFCF;
      box-shadow: 0 1px 3px 0 rgba(182,182,182,0.50);

    }

    &:hover .a_modal {
      display: block;
    }
  }
}

#opacity_background {
  position: fixed;
  z-index: 100;
  width: 773px;
  height: 500px;
}
#shadow {
  position: fixed;
  z-index: 10;
  opacity: 0.8;
  border-bottom: 500px solid #fff;
  border-right: 200px solid transparent;
  width: 573px;
}
li {
  list-style-type: none;
  padding-top: 5px;
}
ul {
  padding-left: 10px;
}

#action{
  padding-left: 15px;
  font-family: ArialMT;
  font-size: 14px;
  color: #D55917;
  letter-spacing: 0;
}
.shoes {
  font-family: ArialMT;
  font-size: 14px;
  color: #A4A4A4;
  letter-spacing: 0;
}
.firm{
  font-family: ArialMT;
  font-size: 14px;
  color: #363636;
  letter-spacing: 0;
}


.a_modal{
  display: none;
  text-align: center;
  color: #6B6B6B;
  width: 220px;
  height: 28px;
  background: #F5F5F5;
  border: 1px solid #D0D0D0;
  padding-top: 10px;
}

.open_modal{
  text-decoration: none;
  font-family: ArialMT;
  font-size: 14px;
  color: #6B6B6B;
  letter-spacing: 0;
}

.modal_div{
  z-index: 101;
  animation-name: showitem;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
  animation-iteration-count: 1;
  padding: 20px;
  width: 360px;
  margin: 0 auto;
  text-align: left;
  background-color: white;
  border: 1px solid #111;
  border-radius: 13px;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  display: none;
}

.modal_div {
  .modal_close {
    width: 21px;
    height: 21px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    display: block;
  }
}

#overlay {
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .7);
  display: none;
  cursor: pointer;
}